---
http_interactions:
- request:
    method: get
    uri: https://httpstat.us/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html>\r\n  <head>\r\n    <title>httpstat.us</title>\r\n
        \   <link href='/Content/main.css' rel='stylesheet' type='text/css' />\r\n
        \   <!--[if lte IE 8]>\r\n    <script type='text/javascript'>\r\n      //<![CDATA[\r\n
        \       document.createElement('footer'); document.createElement('header');\r\n
        \     //]]>\r\n    </script>\r\n    <![endif]-->\r\n  </head>\r\n  <body>\r\n
        \   <div id='content'>\r\n      <header>\r\n        <h1 id='title'>httpstat.us</h1>\r\n
        \     </header>\r\n      <div id='view'>\r\n        <p>This is a super simple
        service for generating different HTTP codes.</p>\r\n<p>It's useful for testing
        how your own scripts deal with varying responses.</p>\r\n<p>\r\n    Just add
        the status code you want to the URL, like this:\r\n    <a href=\"/200\">httpstat.us/200</a>\r\n</p>\r\n<p>We'll
        return a response like this:</p>\r\n<code>HTTP/1.1 {status code} {status description}\r\nContent-Type:
        text/plain or application/json\r\nContent-Length: {something}\r\n{any custom
        response headers}\r\n\r\n{status code} {status description}\r\n{list of any
        custom response headers we added}</code>\r\n\r\n<p>\r\n    To get a JSON response
        back, you need to ensure that the Accept header contains 'application/json'.
        Then we'll JSON encode the response and send the Content-Type header accordingly.\r\n</p>\r\n\r\n<p>\r\n
        \   If you want a delay on the response add a query string of sleep (the time
        in ms, max 5 minutes*), like this:\r\n    <a href=\"/200?sleep=5000\">httpstat.us/200?sleep=5000</a>\r\n
        \   <br />\r\n    <em>*When using the hosted instance the timeout is actually
        230 seconds, which is the max timeout allowed by an Azure WebApp (see <a href=\"https://social.msdn.microsoft.com/Forums/en-US/05f254a6-9b34-4eb2-a5f7-2a82fb40135f/time-out-after-230-seconds?forum=windowsazurewebsitespreview\"
        target=\"_blank\">this thread post</a>). If you host it yourself in IIS/IIS
        Express you won't have that limit.</em>\r\n</p>\r\n\r\n<p>Here are all the
        codes we support (and any special notes):</p>\r\n<dl>\r\n        <dt><a href=\"/100\">100</a></dt>\r\n
        \       <dd>\r\nContinue        </dd>\r\n        <dt><a href=\"/101\">101</a></dt>\r\n
        \       <dd>\r\nSwitching Protocols        </dd>\r\n        <dt><a href=\"/102\">102</a></dt>\r\n
        \       <dd>\r\nProcessing        </dd>\r\n        <dt><a href=\"/200\">200</a></dt>\r\n
        \       <dd>\r\nOK        </dd>\r\n        <dt><a href=\"/201\">201</a></dt>\r\n
        \       <dd>\r\nCreated        </dd>\r\n        <dt><a href=\"/202\">202</a></dt>\r\n
        \       <dd>\r\nAccepted       [...]
